@page "/accounts"
@using BlazorApp.Client.Services
@using Domain.Abstractions
@rendermode InteractiveWebAssembly
@inject AccountService Api 

<h3>Accounts</h3>

@if (!IsLoading)
{
    <SearchPanel OnSearch="@FindAccounts" />
}

<AccountTableTemplate Accounts="@accounts">
    <HeaderTemplate>
        <tr>
            <th>Number</th>
            <th>Balance</th>
            <th>Status</th>
        </tr>
    </HeaderTemplate>

    <RowTemplate Context="account">
        <tr>
            <td>@account.Number</td>
            <td>@account.Balance</td>
            <td>@account.Status</td>
        </tr>
    </RowTemplate>

</AccountTableTemplate>

<p>@message</p>

@code {

    private async Task FindAccounts(string text)
    {
        Console.WriteLine($"Search accounts {text}...");
    }
   
    private bool IsLoading = true;

    // [Inject]
    // public IAccountRepository repository { get; set; }

    private IEnumerable<Account> accounts;


    private string message = "Loading Web Assembly...";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            message = "Loading accounts...";

            StateHasChanged();

            IsLoading = true;

            accounts = await Api.GetAllAsync();

            IsLoading = false;

            message = "Loaded accounts.";

            StateHasChanged();
        }
    }
}


